In [1]:
import pandas as pd
import numpy as np
import helpers

In [2]:
helpers.download_bike_data()
helpers.download_covid_data()
helpers.download_weather_data()

All divvy bike files downloaded successfully
Covid data downloaded succesfully
Weather data downloaded succesfully

In [3]:
bikes = helpers.assemble_bike_data()
covid = pd.read_csv('data/covid/covid_data.csv', index_col=0)
weather = pd.read_csv('data/weather/weather_data.csv', index_col=0)

### Bike Data Exploration

In [4]:
bikes.head(1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,8CD5DE2C2B6C4CFC,docked_bike,2020-06-13 23:24:48,2020-06-13 23:36:55,Wilton Ave & Belmont Ave,117,Damen Ave & Clybourn Ave,163.0,41.94018,-87.65304,41.931931,-87.677856,casual

In [5]:
bikes = bikes[['rideable_type', 'started_at','ended_at','start_station_name','end_station_name','member_casual']]
bikes.head(1)

,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual
0,docked_bike,2020-06-13 23:24:48,2020-06-13 23:36:55,Wilton Ave & Belmont Ave,Damen Ave & Clybourn Ave,casual

In [6]:
#Percentage of rides without returns
bikes['end_station_name'].isna().sum() / bikes.shape[0]

0.11148484292409247

In [7]:
#Percentage of members vs casual users
bikes['member_casual'].value_counts(normalize=True)

member    0.569854
casual    0.430146
Name: member_casual, dtype: float64

In [8]:
#Types of bicycles used
bikes['rideable_type'].value_counts(normalize=True)

classic_bike     0.408817
electric_bike    0.327861
docked_bike      0.263322
Name: rideable_type, dtype: float64

### Weather

### Covid